nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #3bba9c;
  height: 2.5em;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2000;
}
img {
  width: 100px;
  margin-top: -15px;
}
.nav__projectName {
  color: #e4f9ff;
  text-decoration: none;
  margin-right: 2em;
}

.authLink {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: white;
  font-size: 20px;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #707793;
  box-shadow: 0 0 5px 0 white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  /* position: sticky; */
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  font-size: 15px;
  background-color: #2c034e;
}
